<mat-toolbar color="primary">
  <button mat-icon-button class="menu-icon" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="navegateTo('home')">Home</button>
    <button mat-menu-item (click)="navegateTo('tasks')">Tarefas</button>
  </mat-menu>
  <span>{{title}}</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="back()" aria-label="Voltar">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button mat-button aria-label="logout" (click)="logout()">Sair</button>
</mat-toolbar>

<mat-card-content>
  <router-outlet></router-outlet>
</mat-card-content>
